.body {
    font-family: "Times New Roman", Times, serif;
    
}

body {
    background-color: white;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 0px;
}

h2 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
	font-size: 35px;
	font-weight: bolder;
    margin-top: 0px;
	/* width: 550px;
	padding-top: 10px; 
    padding-bottom: 10px; */
}

p 
{
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    text-align: center;
	color: black;
}


.page {
    width: 1500px;
    background-color: #EDE7D9;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
}

.vis-container {
    width: 100%;
}

.description-right {
    padding-left: 50px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 14px;
}
