
body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

}

p{
    font-size: 16px;
}

body {
    background-color: #F3E1DD ;
}

.page {
    width: 1000px;
    background-color: #FFE6E8 ;
    margin: auto;
    padding: 60px;
    padding-top: 50px;
}

.vis-container {
    width: 100%;
}
